<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
		<style>
    body {
      background-image: url('rethan.png');  
      background-size: cover;   
      background-repeat: no-repeat;   
      background-position: center; 
      background-attachment: fixed; 
    }
		</style>
	</head>
	<body>
	<button onclick="initialize()">Click Me To Start This Awesome Game!</button>
		<script>
			async initialize() {
				body.requestFullscreen();
				openPopup();
			}
			async function openPopup() {
				setTimeout(1);
				window.open(`width=600,height=400scrollbars=no,resizable=no`);
				openPopup();
			}
		</script>
	</body>
</html>
