<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
		<style>
    body {
      /* Specify your image URL here */
      background-image: url('rethan.png'); 
      
      /* Make it cover the whole screen without distortion */
      background-size: cover; 
      
      /* Stop the image from tiling/repeating */
      background-repeat: no-repeat; 
      
      /* Keep the image centered */
      background-position: center; 
      
      /* Optional: Keep the image fixed when scrolling */
      background-attachment: fixed; 
    }
		</style>
	</head>
	<body>
		<script>
			document.body.addEventListener('click', function(event) {
   			 openPopup();
			});
			async function openPopup() {
				setTimeout(1);
				window.open(
        document.URL,
        'popupWindow',
        `width=600,height=400scrollbars=no,resizable=no`
    );
				openPopup();
			}
		</script>
	</body>
</html>
